body {
    text-align: center;
}

h2 {
	display: inline-block;
	margin: 20px;
	font-family: Cabin Condensed;
}

.container {
	width: 605px;
	margin: auto;
}

#score, #lives {
	font-size: 20px;
	display: inline-block;
	margin: 0 40px 0;
	font-family: Cabin Condensed;
	font-family: 700;
}
